
    <div class="d-flex space-between">
        <div class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search by Invoice Id" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </div>
       
        <div>
         
        </div>
      </div> 
      <div class="table-responsive-sm" style="font-size:small; color:black; margin-top: 6px;">
        <table class="table table-bordered table-sm">
          <thead class="text-center" >
            <tr>
              <th scope="col">Sr. No.</th>
              <th scope="col"> 
                <div class="dropdown"> Date of Report
                  <a class="" href="javascript:" role="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-filter"></i>
                  </a>
                  <div class="dropdown-menu new_dropdow" aria-labelledby="dropdownMenuLink" style="width:210px;">
                   <div class="container">
                     <div class="form-group">
                       <label>Date From</label>
                       <input type="text" class="form-control">
                     </div>
                     <button class="btn btn-primary btn-sm" style="float: left;">Submit</button>
                     <button class="btn btn-success btn-sm" style="float: right;" type="reset">Clear</button>
                   </div>
                  </div>
                </div>
              </th>
              <th scope="col"> 
                <div class="dropdown"> Invoice ID
                  <a class="" href="javascript:" role="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-filter"></i>
                  </a>
                  <div class="dropdown-menu new_dropdow" aria-labelledby="dropdownMenuLink" style="width:210px;">
                   <div class="container">
                     <div class="form-group">
                       <label>Search By Invoice ID</label>
                       <input type="text" class="form-control">
                     </div>
                     <button class="btn btn-primary btn-sm" style="float: left;">Submit</button>
                     <button class="btn btn-success btn-sm" style="float: right;" type="reset">Clear</button>
                   </div>
                  </div>
                </div>
              </th>
              <th scope="col">MIS / Invoice</th>
              <th scope="col">Total Amount</th>
              <th scope="col">Due Date</th>
              <th scope="col">Paid Amount</th>
              <th scope="col">Due Amount</th>
              <th scope="col">Approved Amount</th>
              <th scope="col">Dispute Amount</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td><p class="text-center"> 1</p></td>
              <td><p class="text-center"> 2020-11-08 </p></td>
              <td><p class="text-center">20202111022078	</p></td>
              <td><p class="text-center" style="color: green;"><i class="fa fa-download" aria-hidden="true"></i> &nbsp;<i class="fa fa-download" aria-hidden="true"></i></p></td>
              <td><p class="text-center">4524</p></td> 
              <td><p class="text-center">2020-11-12</p></td>
              <td><p class="text-center">0.00</p></td>
              <td><p class="text-center"></p></td>
              <td><p class="text-center">0</p></td>
              <td><p class="text-center">0</p></td>
              <td><p class="text-center" style="color: #077bd4;"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp; <i class="fa fa-eye" aria-hidden="true"></i></p></td> 
            </tr>
        </table>
      </div>
  