<h6 class="h4_details">SMS Template</h6><hr>
<div class="row">
    <div class="col-9">
        <div class="row">
            <div class="col-4">
                <p class="text-center" style="font-size:smaller;">IN TRANSIT</p>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <textarea class="form-control brdr" style="width: 100%;"></textarea>
                    <small class="form-text text-muted float-right" style="font-size: x-small;">Character: 200</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p class="text-center" style="font-size:smaller;">COD OUT FOR DELIVERY</p>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <textarea class="form-control brdr" style="width: 100%;"></textarea>
                    <small class="form-text text-muted float-right" style="font-size: x-small;">Character: 200</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p class="text-center" style="font-size:smaller;">ONLINE OUT FOR DELIVERY</p>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <textarea class="form-control brdr" style="width: 100%;"></textarea>
                    <small class="form-text text-muted float-right" style="font-size: x-small;">Character: 200</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p class="text-center" style="font-size:smaller;">DELIVERED</p>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <textarea class="form-control brdr" style="width: 100%;"></textarea>
                    <small class="form-text text-muted float-right" style="font-size: x-small;">Character: 200</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3" style="padding: 0px;">
        <p style="font-size: x-small;" >
            ((Order_Number)) Show order number.<br>
            
            ((Brand_Name)) Show brand name.<br>
            
            ((Courier_Name)) Show courier name.<br>
            
            ((Tracking_Number)) Show tracking number.<br>
            
            ((Tracking_Url)) For tracking url.<br>
            
            ((Amount)) Show amount.<br>
            
            ((Brand_Name)) Show brand name.</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <button class="btn btn-primary btn-sm">Update SMS Template</button>
    </div>
</div>