<h5 class="text-center">View Template Details</h5>
<div class="">
  <!-- <h6>Personal Details</h6> -->
  <div class="table" style="width: 500px;">
    <table>
    <tr>
      <td>  Template Name  </td>
      <td> New 2</td>
    </tr> 
    <tr>
      <td>  Template Description  </td>
      <td>   Product 2</td>
    </tr>
    <tr>
      <td>  Product SKU  </td>
      <td>  codehsn</td>
    </tr>
    <tr>
      <td>  Product HSN  </td>
      <td>   code1 </td>
    </tr>
    <tr>
      <td>  Product Price  </td>
      <td>    0.00</td>
    </tr>
    <tr>
      <td>  Product Tax  </td>
      <td>    0</td>
    </tr>
    <tr>
      <td>  Product Weight  </td>
      <td>    0.000  </td>
    </tr> 
  </table>
  </div>
</div>