<h5 class="text-center">Upload Bulk Template</h5>
        <div class="pickup_modal">
          <!-- <h6>Personal Details</h6> -->
          <form [formGroup]="UploadBulkTemplate" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-4">
              <a href="assets/sample_template.xlsx" type="button" style="width: 100%;"  class="btn btn-primary">Download Sample Excel</a>
            </div>
            <div class="col1" style="padding-right: 10px; border-left: 3px solid black; height: 40px;"></div>
            <div class="col-5">
              <div class="form-group">
                <input type="file" class="form-control">
              </div>
            </div>
            <div class="col-2">
              <button type="" class="btn btn-warning" style="width: 100%;" >Upload</button>
            </div>
          </div>
          <div class="">
          </div>
        </form>
        </div>