<div class="form-row" >
  <div class="col-lg-7 col-md-7 col-xl-7 col-xs-7">
    <div class="d-flex">
    <a href="Javascript:" style="padding: 4px;" class="nav-link">Total: <span id="no_total_order" > 0</span></a>
    &nbsp;&nbsp;
    <a href="Javascript:" style="padding: 4px;" class="nav-link">Processing : <span id="no_process_order" > 0</span></a>
    &nbsp;&nbsp;
    <a href="Javascript:" style="padding: 4px;" class="nav-link">Success : <span id="no_success_order"> 0</span></a>
    &nbsp;&nbsp;
    <a href="Javascript:" style="padding: 4px;" class="nav-link">failed :<span id="no_faild_order" > 0</span></a>
  </div>
</div>
  
  <div class="col-auto" >
    <button type="submit" class="btn btn-primary btn-sm mb-2 btn-color">Process</button>
  </div>
  <div class="col-auto">
   <button type="submit" class="btn btn-primary btn-sm mb-2 btn-color">Next</button>
  </div>
  <div class="col-auto">
    <a href="assets/consignment_error_report.xlsx" type="button" class="btn btn-primary btn-sm mb-2 btn-color">Error Sheet Download</a>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary btn-sm mb-2 btn-color ">Clear</button>
  </div>

</div>

<table class="table table-bordered table-sm" style="font-size:small; color:black;">
    <thead class="text-center">
      <tr>
        <th scope="col" >Shipyaari ID / Order id</th>            
        <th scope="col" >Payment Mode </th>
        <th scope="col">Pickup Pincode </th>
        <th scope="col">Delivery Pincode</th>
        <th scope="col">Weight	</th>
        <th scope="col">Status	</th>
        <th scope="col">Tracking Number</th>
        <th scope="col">Amount</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        
        <td><p>123456789101112</p></td>
        <td><p class="text-center"> Online</p></td>
        <td><p class="text-center">440018</p></td>
        <td><p class="text-center">440018</p></td>
        <td><p class="text-center">50.00</p></td>
        <td><p class="text-center">123456789101112</p></td>
        <td><p class="text-center">123456789101112</p></td>
        <td><p class="text-center">123456789101112</p></td> 
        <td><p class="text-center">123456789101112</p></td>
      </tr>
  </table>
