<h6 class="h4_details">Communication</h6><hr>
<div class="row">
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label class="custom-switch mt-2">
              <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
              <span class="custom-switch-indicator"></span>
              <span class="custom-switch-description">I agree </span>
            </label>
          </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label class="custom-switch mt-2">
              <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
              <span class="custom-switch-indicator"></span>
              <span class="custom-switch-description">I agree </span>
            </label>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label class="custom-switch mt-2">
              <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
              <span class="custom-switch-indicator"></span>
              <span class="custom-switch-description">I agree </span>
            </label>
          </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label class="custom-switch mt-2">
              <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
              <span class="custom-switch-indicator"></span>
              <span class="custom-switch-description">I agree </span>
            </label>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label class="custom-switch mt-2">
              <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
              <span class="custom-switch-indicator"></span>
              <span class="custom-switch-description">I agree </span>
            </label>
          </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label class="custom-switch mt-2">
              <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
              <span class="custom-switch-indicator"></span>
              <span class="custom-switch-description">I agree </span>
            </label>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        this is text
    </div>
    <div class="col-3">
        <div class="form-group">
            <label class="custom-switch mt-2">
              <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
              <span class="custom-switch-indicator"></span>
              <span class="custom-switch-description">I agree </span>
            </label>
          </div>
    </div>
    <div class="col-3">
        this is text
    </div>
    <div class="col-3">
        <div class="form-group">
            <label class="custom-switch mt-2">
              <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
              <span class="custom-switch-indicator"></span>
              <span class="custom-switch-description">I agree </span>
            </label>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <button class="btn btn-primary btn-sm">Update Communication Details</button>
    </div>
</div>