table tr td, table tr th
{
color: black;
font-family: 'Roboto Condensed', 'Roboto', sans-serif;
   font-weight: 400;
}

.card{
   box-shadow: 0px 0px 7px #ccc;
   }

   .bg-white-card{
       box-shadow: 0px 0px 7px #ccc;
       background: white;
       padding: 13px;
   }
