<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style media="screen">

    </style>
    <!-- input:-internal-autofill-selected { -->

  </head>
  <body>
    <div class="wrapper">
      <div class="row">
  
        <div class="col-sm-4 p-0">
          <div class="login_detail login_show">
            <div class="text-center" style="padding: 10px;">
                <img src="https://seller.shipyaari.com/parent/themes/assets/images/brand/logo1.png" alt="" style="background-color: #2283d6; padding: 5px;">
              </div>
              <div class="text-center" style="margin-top: 10px;">
                <h3 class="p-0 mt-0 log_h3">Login</h3>
              </div>
            <br>
            <!-- <div class="d-flex justify-space mt12">
              <div class="account mr-5">
                <img src="google_logo.png" width="20px" alt="">
              </div>
              <div class="account mr-5">
                <img src="facebook_icon.png" width="20px" alt="">
              </div>
            </div>
            <div class="col-sm-12 p-0">
              <div class="or_acc">
                <span>or</span>
              </div>

            </div> -->
            <div class="">
              <div>
              <div class="email">
                <label for="">E-mail</label>
                <input type="text" name="" value="" placeholder="name@company.com">
              </div>
              <div class="email mt12" style="    position: relative;">
                <label for="">Password</label>
                <input type="password" name=""
                value="" placeholder="" class="pass_new">
                <span style="    position: absolute;
                    right: 12px;
                    top: 31px;
                }"> <img src="assets/img/hide-pass.png"> </span>
              </div>
              <div class="" style="display: flex;     justify-content: space-between;
                    margin-top: 12px;">
               
                 <div>
                  <a href="forgot_pass.html">Forgot Password?</a>
                </div>
              </div>
              <div class="mt12">
                <button type="button" name="button" class="btn login_btn sign_btn">Login</button>
                <button type="button" name="button" class="btn login_btn sign_btn" style="    background-color: white;
                    color: black;
                    box-shadow: 0px 2px 6px #eee;">
                    <img src="https://img-authors.flaticon.com/google.jpg" width="28px"> Login with Google
                </button>
                <!-- <button type="button" name="button" class="btn login_btn  log_btn">Sign up</button> -->
              </div>
              <div class="mt12 " style="
                  color: #b7babc;
              ">
                            Don't have an account? <a routerlink="/signup" class="log_btn " style="
                  color: white font-we;
                  /*color: white;*/
                  /*font-weight: 600;*/
              "> Signup here</a>
                
              </div>
             
           
            </div>

            </div>
          </div>

        </div>
        <div class="col-sm-8 p-0">
          <div class="right_data" >

            <div class="">
              <h2 style="color: white; text-align: center;">What Our People Say</h2>
                            <!-- Carousel  ================================================== -->
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                      <div class="item active">
                        <div class="container">
                           <div>
                            <i class="fa fa-quote-left" aria-hidden="true" style="color: white;"></i>
                          </div>
                          <div class="text_div">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <span>Vipul Sharma</span>
                        </div>
                         
                      </div>
                      <div class="item">
                          <div class="container">
                           <div>
                            <i class="fa fa-quote-left" aria-hidden="true" style="color: white;"></i>
                          </div>
                          <div class="text_div">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <span>Vipul Sharma</span>

                        </div>
                      </div>
                      <div class="item">
                          <div class="container">
                           <div>
                            <i class="fa fa-quote-left" aria-hidden="true" style="color: white;"></i>
                          </div>
                          <div class="text_div">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <span>Vipul Sharma</span>

                        </div>
                      </div>
                  </div>
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
              </div><!-- /.carousel -->

            </div>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
