@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"),
    url('https://fonts.gstatic.com/s/productsans/v7/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2') format("woff2");
    }
    /*
* See: https://fonts.google.com/license/googlerestricted
*/
/* cyrillic */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 100;
src: local('Product Sans Thin Italic'), local('ProductSans-ThinItalic'),
 url(https://fonts.gstatic.com/s/productsans/v9/pxifypQkot1TnFhsFMOfGShVEu_vWEpkr1ap.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 100;
src: local('Product Sans Thin Italic'), local('ProductSans-ThinItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxifypQkot1TnFhsFMOfGShVEu_vWE1kr1ap.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 100;
src: local('Product Sans Thin Italic'), local('ProductSans-ThinItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxifypQkot1TnFhsFMOfGShVEu_vWEBkr1ap.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 100;
src: local('Product Sans Thin Italic'), local('ProductSans-ThinItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxifypQkot1TnFhsFMOfGShVEu_vWE5krw.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 300;
src: local('Product Sans Light Italic'), local('ProductSans-LightItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu8nSllHimuQpw.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 300;
src: local('Product Sans Light Italic'), local('ProductSans-LightItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu8nSllAimuQpw.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 300;
src: local('Product Sans Light Italic'), local('ProductSans-LightItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu8nSllNimuQpw.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 300;
src: local('Product Sans Light Italic'), local('ProductSans-LightItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu8nSllDims.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 400;
src: local('Product Sans Italic'), local('ProductSans-Italic'), url(https://fonts.gstatic.com/s/productsans/v9/pxidypQkot1TnFhsFMOfGShVEueIaEx8qw.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 400;
src: local('Product Sans Italic'), local('ProductSans-Italic'), url(https://fonts.gstatic.com/s/productsans/v9/pxidypQkot1TnFhsFMOfGShVEuePaEx8qw.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 400;
src: local('Product Sans Italic'), local('ProductSans-Italic'), url(https://fonts.gstatic.com/s/productsans/v9/pxidypQkot1TnFhsFMOfGShVEueCaEx8qw.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 400;
src: local('Product Sans Italic'), local('ProductSans-Italic'), url(https://fonts.gstatic.com/s/productsans/v9/pxidypQkot1TnFhsFMOfGShVEueMaEw.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 500;
src: local('Product Sans Medium Italic'), local('ProductSans-MediumItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu9_S1lHimuQpw.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 500;
src: local('Product Sans Medium Italic'), local('ProductSans-MediumItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu9_S1lAimuQpw.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 500;
src: local('Product Sans Medium Italic'), local('ProductSans-MediumItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu9_S1lNimuQpw.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 500;
src: local('Product Sans Medium Italic'), local('ProductSans-MediumItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu9_S1lDims.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 700;
src: local('Product Sans Bold Italic'), local('ProductSans-BoldItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu83TVlHimuQpw.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 700;
src: local('Product Sans Bold Italic'), local('ProductSans-BoldItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu83TVlAimuQpw.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 700;
src: local('Product Sans Bold Italic'), local('ProductSans-BoldItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu83TVlNimuQpw.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 700;
src: local('Product Sans Bold Italic'), local('ProductSans-BoldItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu83TVlDims.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 900;
src: local('Product Sans Black Italic'), local('ProductSans-BlackItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu8PT1lHimuQpw.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 900;
src: local('Product Sans Black Italic'), local('ProductSans-BlackItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu8PT1lAimuQpw.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 900;
src: local('Product Sans Black Italic'), local('ProductSans-BlackItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu8PT1lNimuQpw.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Product Sans';
font-style: italic;
font-weight: 900;
src: local('Product Sans Black Italic'), local('ProductSans-BlackItalic'), url(https://fonts.gstatic.com/s/productsans/v9/pxieypQkot1TnFhsFMOfGShVEu8PT1lDims.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 100;
src: local('Product Sans Thin'), local('ProductSans-Thin'), url(https://fonts.gstatic.com/s/productsans/v9/pxidypQkot1TnFhsFMOfGShddOeIaEx8qw.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 100;
src: local('Product Sans Thin'), local('ProductSans-Thin'), url(https://fonts.gstatic.com/s/productsans/v9/pxidypQkot1TnFhsFMOfGShddOePaEx8qw.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 100;
src: local('Product Sans Thin'), local('ProductSans-Thin'), url(https://fonts.gstatic.com/s/productsans/v9/pxidypQkot1TnFhsFMOfGShddOeCaEx8qw.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 100;
src: local('Product Sans Thin'), local('ProductSans-Thin'), url(https://fonts.gstatic.com/s/productsans/v9/pxidypQkot1TnFhsFMOfGShddOeMaEw.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 300;
src: local('Product Sans Light'), local('ProductSans-Light'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdvPWbS2lBkm8.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 300;
src: local('Product Sans Light'), local('ProductSans-Light'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdvPWbTGlBkm8.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 300;
src: local('Product Sans Light'), local('ProductSans-Light'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdvPWbQWlBkm8.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 300;
src: local('Product Sans Light'), local('ProductSans-Light'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdvPWbT2lB.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
src: local('Product Sans'), local('ProductSans-Regular'), url(https://fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVE9eOcEg.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
src: local('Product Sans'), local('ProductSans-Regular'), url(https://fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVFNeOcEg.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
src: local('Product Sans'), local('ProductSans-Regular'), url(https://fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVGdeOcEg.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
src: local('Product Sans'), local('ProductSans-Regular'), url(https://fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVF9eO.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 500;
src: local('Product Sans Medium'), local('ProductSans-Medium'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShd5PSbS2lBkm8.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 500;
src: local('Product Sans Medium'), local('ProductSans-Medium'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShd5PSbTGlBkm8.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 500;
src: local('Product Sans Medium'), local('ProductSans-Medium'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShd5PSbQWlBkm8.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 500;
src: local('Product Sans Medium'), local('ProductSans-Medium'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShd5PSbT2lB.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 700;
src: local('Product Sans Bold'), local('ProductSans-Bold'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdrPKbS2lBkm8.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 700;
src: local('Product Sans Bold'), local('ProductSans-Bold'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdrPKbTGlBkm8.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 700;
src: local('Product Sans Bold'), local('ProductSans-Bold'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdrPKbQWlBkm8.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 700;
src: local('Product Sans Bold'), local('ProductSans-Bold'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdrPKbT2lB.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 900;
src: local('Product Sans Black'), local('ProductSans-Black'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdlPCbS2lBkm8.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 900;
src: local('Product Sans Black'), local('ProductSans-Black'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdlPCbTGlBkm8.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 900;
src: local('Product Sans Black'), local('ProductSans-Black'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdlPCbQWlBkm8.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: 900;
src: local('Product Sans Black'), local('ProductSans-Black'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdlPCbT2lB.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
    body, html, *{
      font-family: Product Sans;
      overflow: hidden;
    }
    body{
      /* background-color: #130474f5;
      overflow: hidden; */
          background-color: #f7f8fc;

      overflow: hidden;
      height: 100%;
      /* background: url(https://sellon.kraftly.com/srcdn/kr-shipmultichannel/register-img/black-bg.png); */
      background-repeat: no-repeat;
      background-size: cover;

    }
    *:focus{
      outline: none;
    }
    .login_btn:focus{
      outline: none !important;
      color: white;
    }
    .right_data{
      padding: 20px;
  /* background: linear-gradient(45deg, #0e0850, #102be8e0); */
  /*background: linear-gradient(45deg, #00cfff, #9733b7);*/
  width: 100%;
  height: 600px;
  /* height: 100%; */
       background-color: #128df7;


  /*background: url(https://sellon.kraftly.com/srcdn/kr-shipmultichannel/register-img/black-bg.png);*/
  background-repeat: no-repeat;
  background-size: cover;
    }
    .login_detail{
          background-color: #f7f8fc;

      width: 100%;
      height: 600px;
      padding: 20px 29px;

    }
    .p-0{
      padding: 0
    }
    .wrapper{
          margin: 32px 20px;

    }
    .mt-0{
      margin-top: 0;

    }
    .log_h3{
      /*color: #fff;*/
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 0;
      margin-top: 39px;

    }
    .log_h3 span{
      color: #fff;
font-weight: 300;
    }
    .d-flex{
      display: flex;
    }
    .account{
      padding: 8px 14px;
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 2px 15px rgba(0,0,0,.075);

      align-items: center;
      text-align: center;
      border-radius: 50px;
      background-color: white;
      width: 50px;
      height: 50px;
    }
    .mr-5{
      margin-right: 12px;
    }
    .ml-5{
      margin-left: 4px;
    }
    .justify-space{
      justify-content: center;
    }
    .account span{
      color: #0039b7;
font-weight: 500;
    }
    .or_acc:after{
      content: "";
      width: 45%;
  height: 1px;
  background-color: rgb(0 0 0 / 36%);
  position: absolute;
  right: 0;
  top: 10px;
    }
    .or_acc{
      margin: 20px 0;
position: relative;
text-align: center;

    }
    .or_acc:before{
      content: "";
      width: 45%;
      left: 0;
      top: 10px;
  height: 1px;
  background-color: rgb(0 0 0 / 36%);
  position: absolute;
    }
    .email input{
      width: 100%;
 border-radius: 3px;
  border: none;
  padding: 8px;
  box-shadow: 0px 1px 5px #ccc;

    }
    .mt12{
      margin-top: 19px;

    }
    .w100{
      width: 100%;
    }
    .login_btn {
     background-color: #517bf1;
  /* border-radius: 50px; */
  color: white;
  margin-top: 14px;
  font-weight: 500;
  width: 100%;

    }
    /*.login_btn:hover{
      color: black;
      border: 1px solid #5801dc;
      background-color: white;
    }*/
    .bottom{
      position: absolute;
border: 0;
bottom: 17px;
color: #0039b7;
    }
    label{
      color: #a3a5a8;

    }
    input{
      color: #a3a5a8;

    }
    ::placeholder{
      color: #a3a5a8;

    }
    .bottom a{

  color: #0039b7;
  font-weight: 600;

    }
    @media (max-width: 767px) {
      .wrapper {
  margin: 58px 34px;
}
.right_data{
display: none;
}
    }
    /*  slider*/
    .relative {
  position: relative;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  font-family: "Open Sans";
  height: 300px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
  background-image: url("https://yt.ajnergaard.co.uk/wp-content/uploads/2014/02/sliders-01.png");
  background-position: center center;
  background-repeat: none;
  background-size: 100%;
  background-size: cover;
}

.carousel .item .carousel-caption .mediumText {
  line-height: 1;
  font-size: 18px !important;
  padding-top: 0;
}

.carousel .item .carousel-caption .bigText {
  line-height: 1;
  font-size: 40px !important;
  position: relative;
  padding-top: 5%;
  padding-bottom: 0;
  margin-bottom: -25px;
}
.carousel .item .carousel-caption .bigText.bigger {
  font-size: 60px !important;
  margin-bottom: 35px;
}

.carousel .item .carousel-caption .bigText p {
  color: #ffffff;
}

.carousel .item .carousel-caption .bigText p:nth-of-type(1) {
margin-top: 10px;
}

.carousel .item .carousel-caption .bigText p:nth-of-type(2) {
  color: #858585;
}

.carousel .item .carousel-caption .bigText p:nth-of-type(3) {
  color: #f00;
}

.carousel .item .carousel-caption .bigText a.btn {
  font-size: 20px;
  float: right;
}

.carousel .item .carousel-caption blockquote {
  border-left: none;
  font-size: 40px;
  top: 50%;
  margin: 8% 0 0 0;
}

.carousel .item .carousel-caption blockquote footer {
  color: #fff;
}

@media (max-width: 767px) {
body{
  overflow-y: scroll !important;
}
.login_btn{
      width: 110px;

}
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
 body{
  overflow-y: scroll !important;
}
  .carousel {
      height: 300px;
  }
  .carousel .item {
      height: 300px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .carousel {
      height: 400px;
  }
  .carousel .item {
      height: 400px;
  }
  .carousel .item .carousel-caption .mediumText {
      line-height: 1;
      font-size: 22px !important;
      padding-top: 5%;
  }
  .carousel .item .carousel-caption .bigText {
      line-height: 1;
      font-size: 60px !important;
      position: relative;
      padding-top: 0;
      padding-bottom: 20px;
      margin-bottom: 25px;
  }
  .carousel .item .carousel-caption .bigText.bigger {
      font-size: 100px !important;
      margin-bottom: -5%;
  }
  .carousel .item .carousel-caption .bigText a.btn {
      float: none;
      position: absolute;
      bottom: -40px;
      right: -25px;
      font-size: 30px;
  }
  .carousel .item .carousel-caption .row > .bigText.tripleBorder {
      border-right: 5px solid #f00;
  }
  .carousel .item .carousel-caption .row > .bigText.tripleBorder:before {
      border-right: 5px solid #fff;
      position: absolute;
      content: "";
      top: 0;
      right: 17px;
      bottom: 0;
      left: 0;
  }
  .carousel .item .carousel-caption .row > .bigText.tripleBorder:after {
      border-right: 5px solid #aeaeae;
      position: absolute;
      content: "";
      top: 0;
      right: 6px;
      bottom: 0;
      left: 0;
  }
  .carousel .item .carousel-caption blockquote {
      font-size: 60px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .carousel .item .carousel-caption .mediumText {
      font-size: 25px !important;
      padding-top: 2%;
  }
  .carousel .item .carousel-caption .bigText.bigger {
      font-size: 100px !important;
      margin-bottom: 35px;
  }
  .carousel .item .carousel-caption .bigText a.btn {
      bottom: 30px;
      right: 10px;
      font-size: 30px;
  }
  .carousel .item .carousel-caption blockquote {
      font-size: 60px;
  }
}
.carousel .item{
background-color: transparent;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left,rgb(255 255 255 / 2%) 0,rgba(0,0,0,.0001) 100%);
}
.carousel-control.right{
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgb(0 0 0 / 3%) 100%);
}
.carousel{
  margin-top: 50px;
}

.log_h3:after{
    content: "";
  width: 10%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  /* right: 30px; */
  /* top: 0; */
  margin-top: 15px;
  margin-left: 12px;
    }
    .pass_new{
          background-color: rgb(0 0 0 / 5%);
  box-shadow: none;
    }
    .item{
          justify-content: center;
  display: flex;
  align-items: center;
    }
    .text_div{
      color: white;
  letter-spacing: 1px;
      font-size: 18px;
      text-align: justify;  

    }
    .carousel .item{
      display: flex;
      color: white;
  letter-spacing: 1px;
  font-weight: 400;
    }
    .carousel-inner .container{
          width: 602px;

    }