<h6 class="h4_details">My Rewards</h6><hr>
<div class="row">
    <div class="col-6">
        <table class="table table-bordered table-sm" style="font-size:small; color:black;">
            <thead class="text-center">
                <tr>
                    <th><p class="blue"><b>Reward Amount</b></p></th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>
                       <p><b>RS. 1</b></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-bordered table-sm" style="font-size:small; color:black;">
            <thead class="text-center">
                <tr>
                    <th><p class="blue"><b>Subscription Discount</b></p></th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>
                       <p><b>RS. 0</b></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h6 class="h4_details">Rewards History</h6><hr>
<div class="row">
    <div class="col">
        <table class="table table-bordered table-sm" style="font-size:small; color:black;">
            <thead class="text-center">
                <tr>
                    <th>SrNo</th>
                    <th>Coupon/Referral Code</th>
                    <th>Credit Note</th>
                    <th>Reward Amount</th>
                    <th>Subscription Discount</th>
                    <th>Increase Validity</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>test10</td>
                    <td>Credit Note#20202111051276149</td>
                    <td>1.00</td>
                    <td>0%</td>
                    <td>0 Days</td>
                    <td>Rs 1.00 has been credited on wallet recharge of Rs.100.00</td>
                    <td>Success</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>