
    <div class="d-flex space-between">
        <div class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-calendar"></i></button>
        </div>
       
        <div>
         
        </div>
      </div> 
      <div class="table-responsive-sm" style="font-size:small; color:black; margin-top: 6px;">
        <table class="table table-bordered table-sm">
          <thead class="text-center" style=" font-size: 15px;">
            <tr >
              <th scope="col">Date </th>
              <th scope="col">Transation ID </th>
              <th scope="col">Transaction Amount</th>
              <th scope="col">Payment Mode</th>
              <th scope="col">Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td><p style="color: green;"> <i class="fas fa-calendar"></i> 2020-11-08</p><p style="color: #077bd4;"><i class="far fa-clock"></i> 19:18:22</p></td>
              <td><p>pay_G6btuqP90yx7Nz</p></td>
              <td><p class="text-center">3000</p></td>
              <td><p style="color: green;">Online</p></td>
              <td><p class="text-center">Rs. 3000 has been credited on 2020-11-28 19:19:06 from your client panel.</p></td>  
            </tr>
        </table>
      </div>
  