
<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <!-- navbar here -->
        <app-navbar></app-navbar>
        <!-- sidebar here -->
        <app-sidebar></app-sidebar>
     
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12 p-0 ">
              <div class="">
                <div class="d-flex space-between">
                  <div class="">
                    <h4>Channels</h4>
                    <ol class="breadcrumb pl-0 pt-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Channels</li>
                  </ol>
                  </div>
                  <div class=" align-right datepicker">
                    <div id="reportrange"  class="pull-left new_left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span> <b class="caret"></b>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 bg-w new_div p-0">
                  <div class="">
                    <div class="">
                          <div class="d-flex space-between">
                    				<div class="form-group "> 	<!--		Show Numbers Of Rows 		-->
                    			 		<select class  ="form-control dis_none" name="state" id="maxRows">
                    						 <option value="5000">Show ALL Rows</option>
                                 <option value="5"></option>
                    						 <option value="10" selected>10</option>
                    						 <option value="20">20</option>
                    						 <option value="30">30</option>
                    						 <option value="40">40</option>
                    						 <option value="70">70</option>
                    						 <option value="100">100</option>
                    						</select>

                    			  	</div>
                              <div class="">
                                <button type="button" class="add" name="button" data-toggle="modal" data-target="#myModal">+ Add</button>
                              </div>
                            </div>
                        <div class="table-responsive p-0">
                          <table class="table table-striped table-class table_fas_icon" id= "table-id">
                          	<tr>
                          		<th>Website Logo	</th>
                          		<th>Website Name	</th>
                          		<th>Channel Name		</th>
                              <th>Store Url	</th>
                          		<th>Action	</th>
                          	</tr>
                          	<tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>

                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                            <tr>
                          		<td>
                                <img src="https://www.pngfind.com/pngs/m/12-126868_website-png-transparent-websitepng-images-pluspng-transparent-website.png" width="100px;" alt="">
                              </td>
                          		<td>
                                <a href="#">instalong.in</a>
                              </td>
                          		<td>Woocommerce	</td>
                          		<td>
                                <a href="#">https://instalong.in</a>
                              	</td>
                              <td>
                                <div class="">
                                  <i class="fas fa-pencil-alt"></i>&nbsp;
                                  <i class="fas fa-trash-alt"></i>
                                </div>
                              </td>

                          	</tr>
                          </table>
                        </div>

                    <!--		Start Pagination -->
                    			<div class='pagination-container' >
                    				<nav>
                    				  <ul class="pagination pagi1">

                                <li data-page="prev" class="pagi_li">
                    								     <span> < <span class="sr-only">(current)</span></span>
                    								    </li>
                    				   <!--	Here the JS Function Will Add the Rows -->
                            <li data-page="next" id="prev" class="pagi_li">
                    								       <span> > <span class="sr-only">(current)</span></span>
                    								    </li>
                    				  </ul>
                    				</nav>
                    			</div>

                    </div>
                  </div>

                </div>
      </div>
    </div>
  </div>
  
</section>
</div>
<!-- footer here -->
<app-footer></app-footer>>
</div>
</div>
<!-- select the Channel -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="text-center">Select the channel you want to integrate
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </h5>
          <div class="pickup_modal">
            <!-- <h6>Personal Details</h6> -->
            <div class="row">
              <div class="col-sm-3">
                <div class="border_12">
                  <div class="widget text-center">
                      <img src="https://seller.shipyaari.com/client/themes/assets/images/channels/c1.png">
                      <p style="color: #000;font-weight: 600;">AMAZON_IN</p>
                      <p class="mb-0" style="margin-top: 5%;"><a href="#" class="btn btn-pill btn-sm btn-default">Coming Soon</a></p>
                  </div>
                </div>

              </div>
              <div class="col-sm-3">
                <div class="border_12">
                  <div class="widget text-center">
                      <img src="https://seller.shipyaari.com/client/themes/assets/images/channels/c2.png">
                      <p style="color: #429e04;font-weight: 600;">SHOPIFY</p>
                      <p class="mb-0" style="margin-top: 5%;"><a href="#" class="btn btn-pill btn-sm btn-primary" onclick="moduleinte('shopify');">Integrate</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="border_12">
                  <div class="widget text-center">
                        <img src="https://seller.shipyaari.com/client/themes/assets/images/channels/c3.png">
                        <p style="color: #ef6730;font-weight: 600;">MAGENTO_V1</p>
                        <p class="mb-0" style="margin-top: 5%;"><a href="#" class="btn btn-pill btn-sm btn-primary" onclick="moduleinte('magentov1');">Integrate</a></p>
                    </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="border_12">
                  <div class="widget text-center">
                        <img src="https://seller.shipyaari.com/client/themes/assets/images/channels/c3.png">
                        <p style="color: #ef6730;font-weight: 600;">MAGENTO_V1</p>
                        <p class="mb-0" style="margin-top: 5%;"><a href="#" class="btn btn-pill btn-sm btn-primary" onclick="moduleinte('magentov1');">Integrate</a></p>
                    </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="border_12">
                  <div class="widget text-center">
                      <img src="https://seller.shipyaari.com/client/themes/assets/images/channels/c5.png">
                      <p style="color: #16bdef;font-weight: 600;">OPENCART</p>
                      <p class="mb-0" style="margin-top: 5%;">
                          <a href="#modal-2" data-toggle="modal" data-dismiss="modal" class="btn btn-pill btn-sm btn-default">Coming Soon</a></p>
                    </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="border_12">
                  <div class="widget text-center">
                        <img src="https://seller.shipyaari.com/client/themes/assets/images/channels/c4.png">
                        <p style="color:#6d4264;font-weight: 600;">WOOCOMMERCE</p>
                        <p class="mb-0" style="margin-top: 5%;"><a href="#" class="btn btn-pill btn-sm btn-primary" onclick="moduleinte('woocommerce');">Integrate</a></p>
                    </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="border_12">
                  <div class="widget text-center">
                        <img src="https://seller.shipyaari.com/client/themes/assets/images/channels/c3.png">
                        <p style="color: #ef6730;font-weight: 600;">MAGENTO_V1</p>
                        <p class="mb-0" style="margin-top: 5%;"><a href="#" class="btn btn-pill btn-sm btn-primary"  data-toggle="modal" data-target="#demo-1" onclick="moduleinte('magentov1');">Integrate</a></p>
                        <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#demo-1">Close current, Launch Modal #1</button> -->
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
<!-- end select the Channel -->
<!-- integrate -->
<!-- #modal 2 -->
<div class="modal fade" id="demo-1" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="text-center">Magento V1 Module
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </h5>
          <div class="pickup_modal">
            <!-- <h6>Personal Details</h6> -->
            <div class="row">
              <div class="col-sm-6 border-right " style="width: 100%;">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="">
                      <span>Website name</span> <br>
                      <input type="text" name="" value="" placeholder="Enter your website name">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="">
                      <span>Channel name</span> <br>
                      <input type="text" name="" value="" placeholder="Enter Channel Name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="">
                      <span>Store Url</span> <br>
                      <input type="text" name="" value="" placeholder="Store Url">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="">
                      <span>Username</span> <br>
                      <input type="text" name="" value="" placeholder="Enter user name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="">
                      <span>API Key</span> <br>
                      <input type="text" name="" value="" placeholder="API Key">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="">
                      <span>API Key</span> <br>
                      <input type="file" name="" value="">
                    </div>
                  </div>
                </div>
                <div class="">
                  <button type="button" name="button" class="submit">Submit</button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="text-center" style="padding-top: 2%;">
                    <img src="https://seller.shipyaari.com/client/themes/assets/images/channels/c3.png" width="20%" alt="SHIPYAARI">
                </div>
                <div class="">
                  <h2 class="channel_txt">Magento V1 Module</h2>
                  <span>Marketplace</span>
                  <p style="text-transform: uppercase;color: #e07831;font-weight: 500;">Use the following instructions to integrate Magento:</p>
                  <ul class="list-group">
                      <li class="list-group-item"><i class="fal fa-chevron-double-right"></i> Login to Magento Admin Panel.</li>
                      <li class="list-group-item"><i class="fas fa-chevrons-right" aria-hidden="true"></i>Go to Apps.</li>
                      <li class="list-group-item"><i class="fas fa-chevrons-right" aria-hidden="true"></i>Click on Private Apps Button.</li>
                      <li class="list-group-item"><i class="fas fa-chevrons-right" aria-hidden="true"></i>Click on Create a Private App.</li>
                      <li class="list-group-item"><i class="fas fa-chevrons-right" aria-hidden="true"></i> Enter Title name under the Description tab and click on Save.</li>
                      <li class="list-group-item"><i class="fas fa-chevrons-right" aria-hidden="true"></i>Click on Title, as you entered earlier.</li>
                      <li class="list-group-item"><i class="fas fa-chevrons-right" aria-hidden="true"></i>Here you will find Magento API Key, password, Shared Secret.</li>
                      <li class="list-group-item"><i class="fas fa-chevrons-right" aria-hidden="true"></i>Copy the identifiers and integrate the channel.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

<!-- General JS Scripts -->

</body>

