

<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper" class="side-nav">
    <div class="sidebar-brand">
      <a href="#"> <img alt="image" src="assets/img/logo.png" class="header-logo" />
        <span class="logo-name">Ship<span style="color: #49dbfd;">yaari</span></span>
      </a>
    </div>
    <ul class="sidebar-menu categories">
      <li class="dropdown "  id="dash_parent_li">    <!-- [ngClass]="getClasses()" -->
         <a href="#"  class="nav-link " id="dash_"> <!-- (click)="addClass()" -->
          <!-- <i class="fas fa-tachometer-alt"></i> -->
          <i class="fas fa-tachometer-alt" style="color: chocolate;"></i>
          <span>Dashboard</span>
        </a>
        <ul class="side-nav-dropdown">
          <li>
            <a routerLink="clientdashboard" class="nav-link ">
              <!-- <i class="fas fa-tachometer-alt"></i> -->
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a routerLink="ndr" class="nav-link">
              <!-- <i class="fas fa-receipt"></i> -->
              <span>NDR</span>
            </a>
          </li>
          <li>
            <a routerLink="tracking" class="nav-link">
              <!-- <i class="fas fa-road"></i> -->
              <span>Tracking</span>
            </a>
          </li>
          <li>
            <a routerLink="rto" class="nav-link">
              <!-- <i class="fas fa-undo-alt"></i> -->
              <span>RTO</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown ">
        <a  href="#"  class="nav-link">
          <!-- <i class="fas fa-lightbulb"></i> -->
          <i class="fas fa-plug" style="color: #34cce0;"></i>
          <span>Smart Shipyaari</span>
        </a>
        <ul class="side-nav-dropdown">
          <li>
            <a routerLink="template" class="nav-link">
              <!-- <i class="fas fa-receipt"></i> -->
              <span>Template</span>
            </a>
          </li>
          <li>
            <a routerLink="addressbook" class="nav-link">
              <!-- <i class="fas fa-road"></i> -->
              <span>Address Book</span>
            </a>
          </li>
          <li>
            <a routerLink="moduleschannel" class="nav-link">
              <!-- <i class="fas fa-undo-alt"></i> -->
              <span>Modules</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown ">
        <a href="#" onclick="" class="nav-link ">
          <!-- <i class="fas fa-tachometer-alt"></i> -->
          <i class="fas fa-cart-plus" style="color: #947cc4;"></i>
          <span>Order</span>
        </a>
        <ul class="side-nav-dropdown">
          <li>
            <a routerLink="addShipment" class="nav-link ">
              <!-- <i class="fas fa-tachometer-alt"></i> -->
              <span>Add Order</span>
            </a>
          </li>
          <li>
            <a routerLink="b2bshipment" class="nav-link">
              <!-- <i class="fas fa-receipt"></i> -->
              <span>B2B Shipmenth</span>
            </a>
          </li>
          <li>
            <a routerLink="addbulk" class="nav-link">
              <!-- <i class="fas fa-road"></i> -->
              <span>Add Bulk</span>
            </a>
          </li>
          <li>
            <a routerLink="allorder" class="nav-link">
              <!-- <i class="fas fa-undo-alt"></i> -->
              <span>All Order </span>
            </a>
          </li>
          <li>
            <a routerLink="channelorder" class="nav-link">
              <!-- <i class="fas fa-undo-alt"></i> -->
              <span>Channel Order </span>
            </a>
          </li>
        </ul>
        
      </li>
      <li class="dropdown ">
        <a href="#" onclick="" class="nav-link ">
          <!-- <i class="fas fa-tachometer-alt"></i> -->
          <i class="fas fa-receipt" style="color: #d93d47;"></i>
          <span>Billing</span>
        </a>
        <ul class="side-nav-dropdown">
          <li>
            <a routerLink="cod" class="nav-link ">
              <!-- <i class="fas fa-tachometer-alt"></i> -->
              <span>COD</span>
            </a>
          </li>
          <li>
            <a routerLink="allincvoices" class="nav-link ">
              <!-- <i class="fas fa-tachometer-alt"></i> -->
              <span>All Invoices</span>
            </a>
          </li>
          <li>
            <a routerLink="reports" class="nav-link ">
              <!-- <i class="fas fa-tachometer-alt"></i> -->
              <span>Reports</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown ">
        <a href="#" onclick="" class="nav-link ">
          <!-- <i class="fas fa-tachometer-alt"></i> -->
          <i class="fas fa-cogs" style="color: #405924;"></i>
          <span>Setting</span>
        </a>
        <ul class="side-nav-dropdown">
          <li>
            <a routerLink="labelsetting" class="nav-link ">
              <!-- <i class="fas fa-tachometer-alt"></i> -->
              <span>Label Setting</span>
            </a>
          </li>
          <li>
            <a routerLink="changepass" class="nav-link ">
              <!-- <i class="fas fa-tachometer-alt"></i> -->
              <span>Change Password</span>
            </a>
          </li>
          <li>
            <a routerLink="priority" class="nav-link ">
              <!-- <i class="fas fa-tachometer-alt"></i> -->
              <span>Priority</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown ">
        <a href="#" onclick="" class="nav-link ">
          <!-- <i class="fas fa-tachometer-alt"></i> -->
          <i class="fas fa-headphones-alt " style="color: #1e2b63;"></i>
          <span>Help</span>
        </a>
        <ul class="side-nav-dropdown">
          <li>
            <a routerLink="addShipment" class="nav-link ">
              <!-- <i class="fas fa-tachometer-alt"></i> -->
              <span>Customer Support</span>
            </a>
          </li>
          <li>
            <a routerLink="feedback" class="nav-link ">
              <!-- <i class="fas fa-tachometer-alt"></i> -->
              <span>Feed Back</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <hr>
  </aside>
</div>
