<h5 class="text-center">Add Pickup Details</h5>
<div class="">
  <h6>Personal Details</h6>
  <form [formGroup]="Add_pickup_Address" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <input type="text" name="" value="" class="form-control" placeholder="Pickup Name" formControlName="Add_pick_name"
        [ngClass]="{'is-invalid':Add_pickup_Address.get('Add_pick_name').touched && Add_pickup_Address.get('Add_pick_name').invalid}">
        <div class="invalid-feedback">Please provide Pick Name</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="text" name="" value="" class="form-control" placeholder="Company Name" formControlName="Add_pick_company"
        [ngClass]="{'is-invalid':Add_pickup_Address.get('Add_pick_company').touched && Add_pickup_Address.get('Add_pick_company').invalid}">
        <div class="invalid-feedback">Please provide Company</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="text" name="" value="" class="form-control" placeholder="Contact Name" formControlName="Add_pick_cont_name"
        [ngClass]="{'is-invalid':Add_pickup_Address.get('Add_pick_cont_name').touched && Add_pickup_Address.get('Add_pick_cont_name').invalid}">
        <div class="invalid-feedback">Please provide Cont. Name</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="text" name="" value="" class="form-control" placeholder="Pickup Contact Number" formControlName="Add_pick_contact"
        [ngClass]="{'is-invalid':Add_pickup_Address.get('Add_pick_contact').touched && Add_pickup_Address.get('Add_pick_contact').invalid}">
        <div class="invalid-feedback">Please provide Contact</div>
      </div>
    </div>
  </div>
  <h6 class="pick_locationdetails">PickUp Location Details</h6>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group textbox-botton">
        <input type="text" name="" value="" class="form-control" placeholder="Pincode" formControlName="Add_pick_pin"
        [ngClass]="{'is-invalid':Add_pickup_Address.get('Add_pick_pin').touched && Add_pickup_Address.get('Add_pick_pin').invalid}">
        <div class="invalid-feedback">Please provide Pincode</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="text" name="" value="" class="form-control" placeholder="Landmark" formControlName="Add_pick_landmark"
        [ngClass]="{'is-invalid':Add_pickup_Address.get('Add_pick_landmark').touched && Add_pickup_Address.get('Add_pick_landmark').invalid}">
        <div class="invalid-feedback">Please provide Landmark</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="text" name="" value="" class="form-control" placeholder="Address1" formControlName="Add_pick_address1"
        [ngClass]="{'is-invalid':Add_pickup_Address.get('Add_pick_address1').touched && Add_pickup_Address.get('Add_pick_address1').invalid}">
        <div class="invalid-feedback">Please provide Address 1</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="text" name="" value="" class="form-control" placeholder="Address2" formControlName="Add_pick_address2"
        [ngClass]="{'is-invalid':Add_pickup_Address.get('Add_pick_address2').touched && Add_pickup_Address.get('Add_pick_address2').invalid}">
        <div class="invalid-feedback">Please provide Address 2</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group textbox-botton">
        <select class="form-control" name="" formControlName="Add_pick_country"
        [ngClass]="{'is-invalid':Add_pickup_Address.get('Add_pick_country').touched && Add_pickup_Address.get('Add_pick_country').invalid}">
        <div class="invalid-feedback">Please provide Country</div>
          <option value="">-Select Country-</option>
          <option value="India">India</option>
          <option value="America">America</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <select class="form-control" name="" formControlName="Add_pick_state"
        [ngClass]="{'is-invalid':Add_pickup_Address.get('Add_pick_state').touched && Add_pickup_Address.get('Add_pick_state').invalid}">
        <div class="invalid-feedback">Please provide State</div>
          <option value="">-Select State-</option>
          <option value="Maharashtra">Maharashtra</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <select class="form-control"  name="" formControlName="Add_pick_city"
        [ngClass]="{'is-invalid':Add_pickup_Address.get('Add_pick_city').touched && Add_pickup_Address.get('Add_pick_city').invalid}">
        <div class="invalid-feedback">Please provide City</div>
          <option value="">-Select City-</option>
          <option value="Nagpur">Nagpur</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="text" name="" value="" class="form-control" placeholder="GST Number" formControlName="Add_pick_Gst"
        [ngClass]="{'is-invalid':Add_pickup_Address.get('Add_pick_Gst').touched && Add_pickup_Address.get('Add_pick_Gst').invalid}">
        <div class="invalid-feedback">Please provide GST No.</div>
      </div>
    </div>
  </div>
  <div class="">
    <button type="submit" name="" class="btn btn-primary">Submit</button>
    <button type="reset" name="" class="btn btn-warning" style="float: right;">Clear</button>
  </div>
</form>
</div>