<table class="table table-bordered table-sm" style="font-size:small; color:black;">
    <thead>
      <tr>
        <th scope="col" style="width: 15%;"> 
            <div class="dropdown"> Shipyaari ID / Order ID <a href="Javascript:" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  > <i class="fa fa-filter fa-lg" aria-hidden="true"></i> </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="width: 140%;">
                  <!-- <form> -->
                <div class="container">
                    <div class="form-group">
                      <label>Search By Shipyaari ID / Order ID </label>
                      <input type="text" class="form-control" style="margin-bottom: 5px;"> 
                      <button class="btn btn-primary btn-sm" type="submit">Apply</button>
                      <button class="btn btn-primary btn-sm float-right" type="reset">Clear</button>
                    </div>
                </div>
                    <!-- </form> -->
                </div>
              </div>
        </th>
        <th scope="col" style="width: 15%;">Product Details</th>
        <th scope="col" style="width: 12%;"> 
            <div class="dropdown"> Customer Name <a href="Javascript:" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  > <i class="fa fa-filter fa-lg" aria-hidden="true"></i> </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <div class="container">
                        <div class="form-group">
                          <label>Search By Mobile No. </label>
                          <input type="serch" class="form-control" style="margin-bottom: 5px;"> 
                          <button class="btn btn-primary btn-sm" type="submit">Apply</button>
                          <button class="btn btn-primary btn-sm float-right" type="reset">Clear</button>
                        </div>
                    </div>
                </div>
              </div>  
        </th>
        <th scope="col" style="width: 10%;"> 
            <div class="dropdown"> Invoice Value <a href="Javascript:" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  > <i class="fa fa-filter fa-lg" aria-hidden="true"></i> </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <!-- <form> -->
                    <div class="container">
                        <div class="form-group" style="font-size: small; width: 101%;">
                          <label>Select Mode</label><br>
                          <input type="checkbox" > COD<br><input type="checkbox" > Online
                        </div>
                        <button class="btn btn-primary btn-sm" style="float: left;">Submit</button>
                        <button class="btn btn-primary btn-sm" style="float: right;" type="reset">Clear</button>
                      </div>
                    <!-- </form> -->
                </div>
              </div>
        </th>
        <th scope="col">  
            <div class="dropdown"> Date <a href="Javascript:" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  > <i class="fa fa-filter fa-lg" aria-hidden="true"></i> </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <!-- <form> -->
                    <div class="container">
                        <div class="form-group">
                          <label>Search By Date </label>
                          <input type="serch" class="form-control" style="margin-bottom: 5px;"> 
                          <button class="btn btn-primary btn-sm" type="submit">Apply</button>
                          <button class="btn btn-primary btn-sm float-right" type="reset">Clear</button>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
              </div>
        </th>
        <th scope="col"> 
            <div class="dropdown dropleft"> AWB Details
                <a class="" href="javascript:" role="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-filter fa-lg"></i>
                </a>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink" style="width: 290%;">
                 <div class="container">
                   <div class="form-group" style="font-size: small; width: 101%;">
                     <input type="text" class="form-control" placeholder="Traking number" > 
                   </div>
                <div class="row" style="font-size: small;">
                       <div class="col">
                        <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Dotzot">
                            <label for="shipping_charges_awb_details_1">&nbsp; Dotzot</label>
                          </div>
                          <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Fedex">
                            <label for="shipping_charges_awb_details_1">&nbsp; Fedex</label>
                          </div>
                          <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="XpressBees">
                            <label for="shipping_charges_awb_details_1">&nbsp; XpressBees</label>
                          </div>
                          <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Shadowfax_Reverse">
                            <label for="shipping_charges_awb_details_1">&nbsp; Shadowfax_Reverse</label>
                          </div>
                          <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Shadowfax">
                            <label for="shipping_charges_awb_details_1">&nbsp; Shadowfax</label>
                          </div>
                          <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Delhivery_Reverse">
                            <label for="shipping_charges_awb_details_1">&nbsp; Delhivery_Reverse</label>
                          </div>

                       </div>
                       <div class="col">
                        <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Delhivery">
                            <label for="shipping_charges_awb_details_1">&nbsp; Delhivery</label>
                          </div>
                        <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Bluedart">
                            <label for="shipping_charges_awb_details_1">&nbsp; Bluedart</label>
                          </div>
                          <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="WOW_Express">
                            <label for="shipping_charges_awb_details_1">&nbsp; WOW Express</label>
                          </div>
                          <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Delhivery_B2B">
                            <label for="shipping_charges_awb_details_1">&nbsp; Delhivery B2B</label>
                          </div>
                          <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="ERunnerz">
                            <label for="shipping_charges_awb_details_1">&nbsp; ERunnerz</label>
                          </div>
                          <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="SpiceJet">
                            <label for="shipping_charges_awb_details_1">&nbsp; SpiceJet - Air Cargo</label>
                          </div>
                         
                       </div>
                   </div>
                   <button class="btn btn-primary btn-sm" style="float: left;">Submit</button>
                   <button class="btn btn-primary btn-sm" style="float: right;" type="reset">Clear</button>
                 </div>
                </div>
              </div>
        </th>
        <th scope="col">Status</th>
        <th scope="col" style="width: 10%;">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" ><a href="Javascript:" data-toggle="modal" data-target="#ShipingID" ><p class="blue"><b> SHIPYAARI-1309224</b></p></a>
              <p class="green" > D10198</p></td>
            <td > <p  class="blue"><i class="fas fa-box"></i> &nbsp;&nbsp;LipIce Icy Peach Lipbalm - Winter Lip Healer</p>
              <p class="red" ><i class="fas fa-bezier-curve"></i> 0.5 (1x1x1)</p></td>
            <td ><i class="fas fa-user-check"></i>&nbsp;Ramesh Kuruva
              <p class="blue" ><i class="fas fa-map-marker-alt"></i>&nbsp; Chennai</p>
              <p class="red"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;9703481048</p></td>
            <td ><p><i class="fas fa-rupee-sign"></i> 149.00</p>
              <i class="fas fa-wallet"></i >&nbsp;Online</td>
            <td ><p class="green"><i class="far fa-calendar-alt"></i>&nbsp;2020-05-21
              <p class="blue"><i class="fas fa-clock"></i>&nbsp;10:33:43</td>
            <td >Fedex
              <p class="green"><i class="fas fa-road"></i>393083341607</p>
              <p style="color:orange" ><i class="fas fa-truck"></i> GUXA48</td>
            <td>Delivered
              <p class="green"><i class="far fa-calendar-alt"></i>&nbsp; 2020-09-03</td>
            <td>
              <div class="text-center" >
                <p class="text-center" style="color: #077bd4;">
                  <a routerLink="/addShipment" data-toggle="tooltip" title="Reverse">
                      <i class="fas fa-undo"></i>
                  </a>&nbsp;
                  <a routerLink="/addShipment" data-toggle="tooltip" title="Duplicate">
                  <i class="far fa-clone"></i>
                  </a>&nbsp;
                  <a href="#" data-toggle="tooltip" title="Shipping Label">
                  <i class="far fa-sticky-note"></i>
                  </a>&nbsp;
                  <a href="#" data-toggle="tooltip" title="Cancel">
                  <i class="fas fa-ban"></i>
                  </a>
              </p>
                 
                </div>
            </td>
             
            
          </tr>
      
    </tbody>
  </table>

<!-- </div> -->
