    <table class="table table-bordered table-sm"  style="font-size:small; color:black;">
        <thead class="text-center">
          <tr>
            <th scope="col"> Date
                <div class="dropdown">
                    <a class="" href="javascript:" role="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-filter"></i>
                    </a>
                    <div class="dropdown-menu new_dropdow" aria-labelledby="dropdownMenuLink" style="width:170%;">
                     <div class="container">
                       <div class="form-group">
                         <input type="text" class="form-control">
                       </div>
                     </div>
                    </div>
                  </div>
            </th>
            <th scope="col">  Manifest ID 
              <div class="dropdown">
                    <a class="" href="javascript:" role="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-filter"></i>
                    </a>
                    <div class="dropdown-menu new_dropdow" aria-labelledby="dropdownMenuLink" style="width:170%;">
                     <div class="container">
                       <div class="form-group">
                           <label>Search by Manifest ID</label>
                         <input type="text" class="form-control">
                         <button class="btn btn-primary" type="">Submit</button>
                         <button class="btn btn-warning" type="reset">Clear</button>
                       </div>
                     </div>
                    </div>
                  </div>
            </th>
            <th scope="col">No. Of AWB
            </th>
            <th scope="col">No. Of AWB Courier Wise</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p style="color: green;"><i class="far fa-calendar"></i>&nbsp; 2020-11-18</p>  <p style="color: #077bd4;"><i class="far fa-clock"></i>&nbsp; 12:41:20</p></td>
            <td><p class="text-center">2691605683487<p></td>
            <td><p class="text-center">2</p></td>
            <td><p class="text-center">Bluedart (2)</p></td>
            <td >
              <!-- <form> -->
                  <div class="text-center">
                    <button  class="btn btn-primary btn-sm" style="margin-right: 7px;" data-toggle="modal" data-target="#staticBackdrop">View</button>
                    <button  class="btn btn-primary btn-sm" style="margin-right: 7px;">Manifest</button>
                    <button  class="btn btn-primary btn-sm" data-toggle="tooltip" title="Download Bulk" style="margin-right: 7px;">Label</button>
                    <button  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#staticBackdrop"data-toggle="tooltip" title="Remove from batch and place where it is." data-original-title="Remove from batch and place where it is."  style="margin-right: 7px;">Remove Batch</button>
                </div>
              <!-- </form> -->
            </td>
          </tr>
        </tbody>
      </table>
  