<h6 class="h4_details">My Coupones</h6><hr>
<div class="row">
    <div class="col-6">
        <table class="table table-bordered table-sm" style="font-size:small; color:black;">
            <thead class="text-center">
                <tr>
                    <th><p class="blue"><b>Referred And Earn</b></p></th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>
                       <p> Refer a friend and get 5% of extra credit amount upto Rs.5000 on minimum recharge by referred user amount of Rs.1000</p>
                        <p><b>Start Date:</b> 2020-07-01 <b>End Date:</b> 2020-12-31</p>
                        <p>Coupon Code: MsnqUTFi8</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>