<div class="d-flex space-between">
    <div class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
  </div> 
  <div class="table-responsive-sm" style="font-size:small; color:black; margin-top: 6px;">
    <table class="table table-bordered table-sm">
      <thead class="text-center">
        <tr>
          <th scope="col" style="width: 12%;">Shipyaari ID 
            <div class="dropdown">
              <a class="" href="javascript:" role="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-filter"></i>
              </a>
              <div class="dropdown-menu new_dropdow" aria-labelledby="dropdownMenuLink" style="width:210px;">
               <div class="container">
                 <div class="form-group">
                   <label>Search By Shipyaari ID / Order ID</label>
                   <input type="text" class="form-control">
                 </div>
                 <button class="btn btn-primary btn-sm" style="float: left;">Submit</button>
                 <button class="btn btn-success btn-sm" style="float: right;" type="reset">Clear</button>
               </div>
              </div>
            </div>
          </th>
          <th scope="col" style="width: 12%;">AWB Details 
            <div class="dropdown">
              <a class="" href="javascript:" role="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-filter"></i>
              </a>
              <div class="dropdown-menu new_dropdow" aria-labelledby="dropdownMenuLink" style="width:210px;">
               <div class="container" style="font-size:small;">
                <div class="form-group">
                  <label></label>
                  <input type="text" class="form-control" placeholder="Tracking No.">
                </div>
                <div class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Dotzot">
                  <label for="shipping_charges_awb_details_1">&nbsp; Dotzot</label>
                </div>
                <div  class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Delhivery">
                  <label for="shipping_charges_awb_details_1">&nbsp; Delhivery</label>
                </div>
                <div  class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Fedex">
                  <label for="shipping_charges_awb_details_1">&nbsp; Fedex</label>
                </div>
                <div  class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Bluedart">
                  <label for="shipping_charges_awb_details_1">&nbsp; Bluedart</label>
                </div>
                <div  class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="XpressBees">
                  <label for="shipping_charges_awb_details_1">&nbsp; XpressBees</label>
                </div>
                <div  class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="WOWExpress">
                  <label for="shipping_charges_awb_details_1">&nbsp; WOW Express</label>
                </div>
                <div  class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Shadowfax_Reverse">
                  <label for="shipping_charges_awb_details_1">&nbsp; Shadowfax_Reverse</label>
                </div>
                <div  class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="DelhiveryB2B">
                  <label for="shipping_charges_awb_details_1">&nbsp; Delhivery B2B</label>
                </div>
                <div  class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Shadowfax">
                  <label for="shipping_charges_awb_details_1">&nbsp; Shadowfax</label>
                </div>
                <div  class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="ERunnerz">
                  <label for="shipping_charges_awb_details_1">&nbsp; ERunnerz</label>
                </div>
                <div  class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="Delhivery_Reverse">
                  <label for="shipping_charges_awb_details_1">&nbsp; Delhivery_Reverse</label>
                </div>
                <div  class="mb-bottom"><input type="checkbox" name="filter_curior_company" id="shipping_charges_awb_details_1" value="SpiceJet - Air Cargo">
                  <label for="shipping_charges_awb_details_1">&nbsp; SpiceJet - Air Cargo</label>
                </div>
                <button class="btn btn-primary btn-sm" style="float: left;">Submit</button>
                <button class="btn btn-success btn-sm" style="float: right;" type="reset">Clear</button>
               </div>
              </div>
            </div>
          </th>
          <th scope="col">Product Description</th>
          <th scope="col">Invoice Amount	</th>
          <th scope="col">Old Weight	</th>
          <th scope="col">New Weight</th>
          <th scope="col">Weight Difference	</th>
          <th scope="col">Original Charged Amount	</th>
          <th scope="col">Updated Charged Amount	</th>
          <th scope="col">Date Of Debit To Wallet</th>
          <th scope="col">Dispute Details</th>
          <th scope="col">Action	</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td><a href="javascript:" data-toggle="modal" data-target="#exampleModalwr"><p style="color: #077bd4;"><b>SHIPYAARI-123456789</b></p></a></td>
            <td><p style="color: green;"><i class="fas fa-road"></i> 123456789101112</p><p style="color: #fc7303;"><i class="fa fa-truck" aria-hidden="true"></i> Express-Courier -Fedex</p></td>
            <td><p class="text-center" style="color: green;"><b> <i class="fas fa-box"></i> Saree</b></p></td>
            <td><p class="text-center">995</p></td>
            <td><p class="text-center">1</p></td>
            <td><p class="text-center">2.5</p></td>
            <td><p class="text-center">3.5</p></td>
            <td><p class="text-center">303.56</p></td>
            <td><p class="text-center"></p></td>
            <td><p class="text-center"></p></td>
            <td><p class="text-center"></p></td>
            <td><p class="text-center"></p></td> 
        </tr>
    </table>
  </div>
