<h5 class="text-center">Delivery Address Details</h5>
<div class="table" style="width: 500px;">
    <ul>
        <li>Delivery Address Name: Prevoyance 1</li>
        <li>Contact Name: Prevo Technologies</li>
        <li>Landmark: Trimurti Nagar ,</li>
            <li>Address 1: Parsodi,</li>
            <li>Address 2: Trimurti nagar,</li>
            <li>City: Tumsar(Tumsar),</li>
            <li>State: Maharashtra,</li>
            <li>Country: India,</li>
            <li>Pincode: 441912</li>
            <li>Contact Persons: Prevo Tech</li>
            <li>Phone: 8888800000,</li>
    </ul>
</div>


