<body>
    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <!--navbar here -->
        <app-navbar></app-navbar>
        <!-- Sidebar Here -->
        <app-sidebar></app-sidebar>
        <!-- Main Content -->
        <div class="main-content">
          <section class="section">
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12 p-0 bg-white-card">
                <div class="">
                    <h5 class="h4_details">Profile Account</h5>
                     <hr>
                </div>
                <div class="row">
                    <div class="col-3">
                      
                    </div>
                    <div class="col-9">
                        <nav >
                            <div class="nav nav-tabs tab-font-size" id="nav-tab" role="tablist" style="font-size: 12px;">
                              <a class="nav-item nav-link tab-pad show active" id="nav-processingorder-tab" data-toggle="tab" href="#nav-kyc" role="tab" aria-controls="nav-processingorder" aria-selected="true">KYC Dtails</a>
                              <a class="nav-item nav-link tab-pad" id="nav-ReadyToShip-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-ReadyToShip" aria-selected="false">Bank Details</a>
                              <a class="nav-item nav-link tab-pad" id="nav-ReadyToPick-tab" data-toggle="tab" href="#nav-communication" role="tab" aria-controls="nav-ReadyToPick" aria-selected="false">Communication</a>
                              <a class="nav-item nav-link tab-pad" id="nav-InTransit-tab" data-toggle="tab" href="#nav-market" role="tab" aria-controls="nav-InTransit" aria-selected="false">Marketing</a>
                              <a class="nav-item nav-link tab-pad" id="nav-CompleteOrder-tab" data-toggle="tab" href="#nav-sms" role="tab" aria-controls="nav-CompleteOrder" aria-selected="false">SMS Template</a>
                              <a class="nav-item nav-link tab-pad" id="nav-CancelledOrder-tab" data-toggle="tab" href="#nav-subscription" role="tab" aria-controls="nav-CancelledOrder" aria-selected="false">Subscription Info</a>
                              <a class="nav-item nav-link tab-pad" id="nav-AllOrder-tab" data-toggle="tab" href="#nav-reward" role="tab" aria-controls="nav-AllOrder" aria-selected="false">My Reward</a>
                              <a class="nav-item nav-link tab-pad" id="nav-AllOrder-tab" data-toggle="tab" href="#nav-coupon" role="tab" aria-controls="nav-AllOrder" aria-selected="false">My Coupone</a>
                            </div>
                          </nav>
                            <div class="tab-content" id="nav-tabContent">
                              <div class="tab-pane fade show active" id="nav-kyc" role="tabpanel" aria-labelledby="processingorder-tab">
                                <h6 class="h4_details">Registerd Address</h6><hr>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                </div>
                                <h6 class="h4_details">PAN Card</h6><hr>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="form-group">
                                            <button class="btn btn-secondary btn-sm"><i class="fa fa-upload blue fa-lg"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                </div>
                                <h6 class="h4_details">Address Proof</h6><hr>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="form-group">
                                            <button class="btn btn-secondary btn-sm "><i class="fa fa-upload blue fa-lg"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control-sm brdr">
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="tab-pane fade  " id="nav-bank" role="tabpanel" aria-labelledby="ReadyToShip-tab">
                                <!-- <app-readytoship></app-readytoship> -->
                              </div>
                              <div class="tab-pane fade " id="nav-communication" role="tabpanel" aria-labelledby="ReadyToPick-tab">
                                <!-- <app-readytopick></app-readytopick> -->
                              </div>
                              <div class="tab-pane fade " id="nav-market" role="tabpanel" aria-labelledby="InTransit-tab">
                                <!-- <app-intransit></app-intransit> -->
                              </div>
                              <div class="tab-pane fade " id="nav-sms" role="tabpanel" aria-labelledby="CompleteOrder-tab">
                                <!-- <app-completeorder></app-completeorder> -->
                              </div>
                              <div class="tab-pane fade " id="nav-subscription" role="tabpanel" aria-labelledby="CancelledOrder-tab">
                                <!-- <app-cancelledorder></app-cancelledorder> -->
                              </div>
                              <div class="tab-pane fade " id="nav-reward" role="tabpanel" aria-labelledby="AllOrder-tab">
                                <!-- <app-allorder-child></app-allorder-child> -->
                              </div>
                              <div class="tab-pane fade " id="nav-coupon" role="tabpanel" aria-labelledby="AllOrder-tab">
                                <!-- <app-allorder-child></app-allorder-child> -->
                              </div>
                            </div> 
                    </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- footer Here -->
        <app-footer></app-footer>
      </div>
  </div>
  </body>
  
  