<body>
    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <!--navbar here -->
        <app-navbar></app-navbar>
        <!-- Sidebar Here -->
        <app-sidebar></app-sidebar>
        <!-- Main Content -->
        <div class="main-content">
          <section class="section">
            <div class="row rowmargin">
              <div class="col-12 col-sm-12 col-lg-12 p-0">
                <div class="">
                </div>
                <div class="row">
                    <div class="col-3" style="padding-left: 4px; padding-right: 4px;">
                        <div class=" bg-white-card">
                            <div class="row">
                                <div class="col text-center p11">
                                    <img src="https://www.shareicon.net/data/512x512/2017/01/06/868320_people_512x512.png" class="rounded-circle" style="width: 120px;" >
                                </div>
                               
                            </div>
                     <div class="row">
                        <div class="col">
                            <h5 class="text-center blue">PRAFULLA NATHILE</h5>
                            <p class="text-center">Client Id: 5934</p>
                            <h6 class="text-center"> WALLET AMOUNT : 1/-</h6>
                        </div>
                     </div>
                     <div class="row">
                        <div id="grad1" style="height: 100%; width: 100%;">
                            <div class="row">
                                <div class="col-4">
                                    <img src="assets/img/wallet.png" style="width: 40px; height: 40px; opacity: 50%;">
                                </div>
                                <div class="col-8">
                                    <p class="text-center" style="color: white;">82103.90<br>
                                    Balance Amount</p>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="row">
                        <ul class="list-group list-group-flush" style="width: 100%;">
                            <li class="list-group-item text-center">
                                <div class="btn-group" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-primary btn-sm">Increase CR Limit Request</button>
                                    <button type="button" class="btn btn-secondary btn-sm" style="box-shadow: none;"><i class="fas fa-info blue"></i></button>
                                </div>
                            </li>
                            <li class="list-group-item text-center p5"><h6>About Company</h6>
                         
                            <p style="margin-bottom:5px;"> Prevoyance</p></li>
                            <li class="list-group-item p5"><i class="fas fa-globe-asia red"></i>&nbsp; prevoyancetech.com</li>
                            <li class="list-group-item p5"><i class="fas fa-phone blue"></i>&nbsp; 9970850512</li>
                            <li class="list-group-item p5"><i class="far fa-envelope green"></i>&nbsp; prafullanathile@gmail.com</li>
                            <li class="list-group-item p5">Referral Code: MsnqUTFi8</li>
                          </ul>
                     </div>
                     </div>
                    </div>
                    <div class="col-9" style="padding-left: 4px; padding-right: 4px;">
                        <div class="bg-white-card">
                        <h5 class="h4_details">Profile Account</h5>
                        <hr style="margin-bottom: 5px;">
                        <nav style="    padding: 5px;">
                            <div class="nav nav-tabs tab-font-size" id="nav-tab" role="tablist" style="font-size: 12px;">
                              <a class="nav-item nav-link tab-pad show active" id="nav-processingorder-tab" data-toggle="tab" href="#nav-kyc" role="tab" aria-controls="nav-processingorder" aria-selected="true">KYC Dtails</a>
                              <a class="nav-item nav-link tab-pad" id="nav-ReadyToShip-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-ReadyToShip" aria-selected="false">Bank Details</a>
                              <a class="nav-item nav-link tab-pad" id="nav-ReadyToPick-tab" data-toggle="tab" href="#nav-communication" role="tab" aria-controls="nav-ReadyToPick" aria-selected="false">Communication</a>
                              <a class="nav-item nav-link tab-pad" id="nav-InTransit-tab" data-toggle="tab" href="#nav-market" role="tab" aria-controls="nav-InTransit" aria-selected="false">Marketing</a>
                              <a class="nav-item nav-link tab-pad" id="nav-CompleteOrder-tab" data-toggle="tab" href="#nav-sms" role="tab" aria-controls="nav-CompleteOrder" aria-selected="false">SMS Template</a>
                              <a class="nav-item nav-link tab-pad" id="nav-CancelledOrder-tab" data-toggle="tab" href="#nav-subscription" role="tab" aria-controls="nav-CancelledOrder" aria-selected="false">Subscription Info</a>
                              <a class="nav-item nav-link tab-pad" id="nav-AllOrder-tab" data-toggle="tab" href="#nav-reward" role="tab" aria-controls="nav-AllOrder" aria-selected="false">My Reward</a>
                              <a class="nav-item nav-link tab-pad" id="nav-AllOrder-tab" data-toggle="tab" href="#nav-coupon" role="tab" aria-controls="nav-AllOrder" aria-selected="false">My Coupone</a>
                            </div>
                          </nav>
                            <div class="tab-content" id="nav-tabContent">
                              <div class="tab-pane fade show active" id="nav-kyc" role="tabpanel" aria-labelledby="processingorder-tab">
                                  <app-kycdetails></app-kycdetails>

                              </div>
                              <div class="tab-pane fade  " id="nav-bank" role="tabpanel" aria-labelledby="ReadyToShip-tab">
                                  <app-bankdetails></app-bankdetails>

                              </div>
                              <div class="tab-pane fade " id="nav-communication" role="tabpanel" aria-labelledby="ReadyToPick-tab">
                                  <app-communication></app-communication>

                              </div>
                              <div class="tab-pane fade " id="nav-market" role="tabpanel" aria-labelledby="InTransit-tab">
                                  <app-marketing></app-marketing>

                              </div>
                              <div class="tab-pane fade " id="nav-sms" role="tabpanel" aria-labelledby="CompleteOrder-tab">
                                <app-smstemplate></app-smstemplate>
                              </div>
                              <div class="tab-pane fade " id="nav-subscription" role="tabpanel" aria-labelledby="CancelledOrder-tab">
                                <app-subscription></app-subscription>
                              </div>
                              <div class="tab-pane fade " id="nav-reward" role="tabpanel" aria-labelledby="AllOrder-tab">
                                  <app-reward></app-reward>
                              </div>
                              <div class="tab-pane fade " id="nav-coupon" role="tabpanel" aria-labelledby="AllOrder-tab">
                                  <app-coupone></app-coupone>
                              </div>
                            </div> 
                         </div>   
                    </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- footer Here -->
        <app-footer></app-footer>
      </div>
  </div>
  </body>
  
  <div class="modal fade" id="plan" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
            <h6 class="text-center">Udaan 1 (Pro Plan) Non Retail- 2018</h6>
            <table class="table table-bordered table-sm" style="font-size:small; color:black;">
                <tbody>
                    <tr>
                        <td>PLAN</td>
                        <td>Udaan 1 (Pro Plan) Non Retail- 2018 (Annual)</td>
                    </tr>
                    <tr>
                        <td>PURCHASE DATE</td>
                        <td>2020-09-30 00:00:00</td>
                    </tr>
                    <tr>
                        <td> START DATE </td>
                        <td>2020-09-30 00:00:00</td>
                    </tr>
                    <tr>
                        <td>  END DATE </td>
                        <td>2021-09-30 00:00:00</td>
                    </tr>
                    <tr>
                        <td> EXPIRY DATE </td>
                        <td>2021-09-25 00:00:00</td>
                    </tr>
                    <tr>
                        <td>  PAID DEPOSIT AMOUNT</td>
                        <td>	Rs. 3000/-</td>
                    </tr>
                    <tr>
                        <td>   PAID SUBSCRIPTION AMOUNT</td>
                        <td>		Rs. 33000/-</td>
                    </tr>
                    <tr>
                        <td>    BALANCE AMOUNT</td>
                        <td>		Rs. 1/-</td>
                    </tr>
                </tbody>
            </table>	
        </div>
      </div>
    </div>
  </div>