table tr td, table tr th
{
color: black;
font-family: 'Roboto Condensed', 'Roboto', sans-serif;
   font-weight: 400;
}
table p{
    margin-bottom: 0px;
}

.green
{
    color: green;
}

.blue
{
    color: #077bd4;
}
.red
{
    color: red;
}