<h6 class="h4_details">Subscription Information</h6><hr>
<div class="row">
    <div class="col-6">
        <table class="table table-bordered table-sm" style="font-size:small; color:black;">
            <thead class="text-center">
                <tr>
                    <th><p class="blue"><b>Subscription Summary</b></p><i class="fas fa-redo float-right blue"></i></th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>
                       <a href="javascript:" data-toggle="modal" data-target="#plan"><p><b>Udaan 1 (Pro Plan) Non Retail- 2018</b></p></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-bordered table-sm" style="font-size:small; color:black;">
            <thead class="text-center">
                <tr>
                    <th><p class="blue"><b>Subscription Upgrade/Renew</b></p></th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>
                       <button class="btn btn-primary btn-sm" data-targe="#planchange" data-toggle="modal">Select Plan</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h6 class="h4_details">Subscription History/Invoices</h6><hr>
<div class="row">
    <table class="table table-bordered table-sm" style="font-size:small; color:black;">
        <thead class="text-center">
            <tr>
                <th>SrNo</th>
                <th>Invoice Date</th>
                <th>Invoice / Receipt Number</th>
                <th>Invoice Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>1</td>
                <td>2020-09-30 00:00:00</td>
                <td>	#202021090110825</td>
                <td>	22273.00/-</td>
                <td><button class="btn btn-primary btn-sm">View</button></td>
            </tr>
        </tbody>
    </table>
</div>