<h6 class="h4_details">Registerd Address</h6><hr>
<div class="row">
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <select class="form-control-sm brdr" style="width: 104%;" >
                <option>Select</option>
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <select class="form-control-sm brdr" style="width: 104%;" >
                <option>Select</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-1">
        <div class="form-group">
            <button class="btn btn-secondary btn-sm"><i class="fa fa-upload blue fa-lg"></i></button>
        </div>
    </div>
</div>
<h6 class="h4_details">PAN Card</h6><hr>
<div class="row">
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-1">
        <div class="form-group">
            <button class="btn btn-secondary btn-sm"><i class="fa fa-upload blue fa-lg"></i></button>
        </div>
    </div>
    
</div>
<h6 class="h4_details">Address Proof</h6><hr>
<div class="row">
    <div class="col-3">
        <div class="form-group">
            <input type="text" class="form-control-sm brdr">
        </div>
    </div>
    <div class="col-1">
        <div class="form-group">
            <button class="btn btn-secondary btn-sm "><i class="fa fa-upload blue fa-lg"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-primary btn-sm">Update KYC Details</button>
    </div>
</div>