<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
    <!--   navbar here -->
      <app-navbar></app-navbar>
      <!-- Sidebar Here -->
      <app-sidebar></app-sidebar>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12 p-0 ">
              <div class="">
                <div class="d-flex space-between">
                  <div class="">
                    <h4>Cash On Delivery</h4>
                    <ol class="breadcrumb pl-0 pt-0">
                    <li class="breadcrumb-item"><a href="#">Billing</a></li>
                    <li class="breadcrumb-item active" aria-current="page">COD</li>
                    </ol>
                  </div>
                </div>
               
                  <div class="row">
                    <div class="col-lg-3 col-xl-2 col-md-3 p-1">
                      <div class="col-sm-12 bg-white-card p-0  p-2 ">
                        <span class="fs12 text-col">Upcoming COD 01 Dec 2020</span>
                        <div class="d-flex space-between align-center">
                          <div>
                            <img src="assets/truck.png" width="35px" alt="">
                          </div>
                          <div>
                            <h4>₹ 5</h4>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xl-2 col-md-3 p-1">
                      <div class="col-sm-12 bg-white-card p-0  p-2 ">
                        <span class="fs12 text-col">Shipments Picked Up
                        </span>
                        <div class="d-flex space-between align-center">
                          <div>
                            <img src="assets/truck.png" width="35px" alt="">

                          </div>
                          <div>
                            <h4>₹ 5</h4>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xl-2 col-md-3 p-1">
                      <div class="col-sm-12 bg-white-card p-0  p-2 ">
                        <span class="fs12 text-col">Shipments Delivered
                        </span>
                        <div class="d-flex space-between align-center">
                          <div>
                            <img src="assets/truck.png" width="35px" alt="">

                          </div>
                          <div>
                            <h4>₹ 5</h4>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xl-2 col-md-3 p-1">
                      <div class="col-sm-12 bg-white-card p-0  p-2 ">
                        <span class="fs12 text-col">Paid Amount
                        </span>
                        <div class="d-flex space-between align-center">
                          <div>
                            <img src="assets/truck.png" width="35px" alt="">

                          </div>
                          <div>
                            <h4>₹ 5</h4>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xl-2 col-md-3 p-1">
                      <div class="col-sm-12 bg-white-card p-0  p-2 ">
                        <span class="fs12 text-col">Shipments In Transit
                        </span>
                        <div class="d-flex space-between align-center">
                          <div>
                            <img src="assets/truck.png" width="35px" alt="">
                          </div>
                          <div>
                            <h4>₹ 5</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xl-2 col-md-3 p-1">
                      <div class="col-sm-12 bg-white-card p-0  p-2 ">
                        <span class="fs12 text-col">Shipments RTO
                        </span>
                        <div class="d-flex space-between align-center">
                          <div>
                            <img src="assets/truck.png" width="35px" alt="">
                            
                          </div>
                          <div>
                            <h4>₹ 5</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 bg-white-card">
                    <div class="d-flex space-between">
                      <div>
                      <h5>  COD Details</h5>

                      </div>
                      <div>
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" style="margin-right: 15px;">COD report</button>
                      </div>
                    </div> <hr>
                    <div class="table-responsive-sm" style="font-size:small; color:black; margin-top: 6px;">
                      <table class="table table-bordered table-sm">
                        <thead class="text-center">
                          <th scope="col"><p>Report Date</p></th>
                          <th scope="col"><p>Report Ref No</p>	</th>
                          <th scope="col"><p>COD Amount	</p></th>
                          <th scope="col"><p>Addon Charges</p>	</th>
                          <th scope="col"><p>Settlement Amount</p>	</th>
                          <th scope="col"><p>Outstanding Amount</p>	</th>
                          <th scope="col"><p>Hold Amount</p>	</th>
                          <th scope="col"><p>Recovery Amount</p>	</th>
                          <th scope="col"><p>Net Paid</p>	</th>
                          <th scope="col"><p>Payment Ref No</p>	</th>
                          <th scope="col"><p>Action</p></th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>papul</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- footer Here -->
      <app-footer></app-footer>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="text-align: center; width: 100%"> COD Report</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="">
          <div class="form-group">
            <label>From Date</label>
            <input type="date" class="form-control">
          </div>
          <div class="form-group">
            <label>To Date</label>
            <input type="date" class="form-control">
          </div>
          <div class="" style="padding-top: 10px;">
          <button class="btn btn-primary btn-sm" type="" >Download Report</button>
          </div>
          </div>
          <div class="" style="padding-top: 10px;">
            <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal">Current Month Report</button> &nbsp;
            <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal">Last 30 Days</button> &nbsp;
            <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal">Last 60 Days</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- General JS Scripts -->  
</body>

